<footer>
  <div class="row">
    <div class="col-6" style="padding: 80px;">&copy; Arturo Morales Celis. <br>Todos los derechos reservados.</div>
    <div class="col-6">
      <span>Sígueme en mis redes</span>
      <br>

      <div>
        <a href="">
          <span class="icon is-large">
            <i class="fab fa-github"></i>
          </span>
          <span>GitHub</span>
        </a>
      </div>
      <br>

      <div>
        <a href="">
          <span class="icon is-large">
            <i class="fab fa-facebook"></i>
          </span>
          <span>Facebook</span>
        </a>
      </div>
      <br>

      <div>
        <a href="">
          <span class="icon is-large">
            <i class="fab fa-twitter"></i>
          </span>
          <span>Twitter</span>
        </a>
      </div>

    </div>
  </div>
</footer>
