<div class="container">
    <h1>Home</h1>
    <hr>
    <div class="imagen">
        <img src="../../../assets/img/427839-PE5SM4-928.png" alt="imagen">
    </div>
</div>
<div class="row">
  <div class="col-6">
    <h1><i class="far fa-thumbs-up"></i>Pros...</h1>
    <hr>
    <p>
      Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna
      manera, ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. Si vas a
      utilizar un pasaje de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio
      del texto. Todos los generadores de Lorem Ipsum que se encuentran en Internet tienden a repetir trozos
      predefinidos cuando sea necesario, haciendo a este el único generador verdadero (válido) en la Internet. Usa un
      diccionario de mas de 200 palabras provenientes del latín, combinadas con estructuras muy útiles de sentencias,
      para generar texto de Lorem Ipsum que parezca razonable. Este Lorem Ipsum generado siempre estará libre de
      repeticiones, humor agregado o palabras no características del lenguaje, etc.
    </p>
  </div>
  <div class="col-6">
    <h1><i class="far fa-thumbs-down"></i>Contras..</h1>
    <hr>
    <p>
      Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna
      manera, ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. Si vas a
      utilizar un pasaje de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio
      del texto. Todos los generadores de Lorem Ipsum que se encuentran en Internet tienden a repetir trozos
      predefinidos cuando sea necesario, haciendo a este el único generador verdadero (válido) en la Internet. Usa un
      diccionario de mas de 200 palabras provenientes del latín, combinadas con estructuras muy útiles de sentencias,
      para generar texto de Lorem Ipsum que parezca razonable. Este Lorem Ipsum generado siempre estará libre de
      repeticiones, humor agregado o palabras no características del lenguaje, etc.
    </p>
  </div>
</div>
