header {
  width: 100%;
  position: sticky;
  top: 0;
}
.navbar {
  font-family: 'Manjari', sans-serif;
  background: black;
  width: 100%;
  position: sticky !important;
  z-index: 100% !important;
}
nav {
  float: left;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

/*
nav ul li:hover {
  background: grey;
}
*/

.active {
  background: grey;
}

nav img {
  width: auto;
  height: 50px;
  float: right;
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  nav img {
    float: right;
  }
  nav ul li a {
    float: right;
  }
  .nombre {
    display: none;
  }
}

.icon {
  margin-right: .40rem;
}

@media screen and (max-width: 300px) {
  nav img {
    display: none;
  }
}
