<nav class="navbar">
  <ul>
    <li>
      <a routerLink="/home">
        <span class="icon is-small">
          <i class="fas fa-home"></i>
        </span>
        <span class="nombre">Home</span>
      </a>
    </li>

    <li>
      <a routerLink="/quienes-somos">
        <span class="icon is-small">
          <i class="fas fa-question"></i>
        </span>
        <span class="nombre">¿Quiénes somos?</span>
      </a>
    </li>

    <li>
      <a routerLink="/blog">
        <span class="icon is-small">
          <i class="fas fa-newspaper"></i>
        </span>
        <span class="nombre">Blog</span>
      </a>
    </li>

    <img src="../../../assets/img/2517507.png" alt="">
  </ul>
</nav>
